@keyframes jumpingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.dot-typing .dot:nth-last-child(1) {
  animation: jumpingAnimation 0.7s 0.2s ease-in infinite;
}
.dot-typing .dot:nth-last-child(2) {
  margin: 0 2px;
  animation: jumpingAnimation 0.7s 0.3s ease-in infinite;
}
.dot-typing .dot:nth-last-child(3) {
  animation: jumpingAnimation 0.7s 0.4s ease-in infinite;
}

.bg-linear-copilot {
  background: linear-gradient(
    360deg,
    theme(colors.rs-v2-linear-black) 21.23%,
    theme(colors.rs-dark-card4) 67.12%
  );
}
